<%= notice %>
<div class="card-header" style="background-image: url('<%= cl_image_path @cocktail.photo.url %>')">
  <%= @cocktail.name %>
</div>

<div class="show-container">

  <div class="list-container">
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item">
          <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= render 'cocktails/review-form' %>
  </div>

  <div class="review-container">
    <ul class="list-group">
      <% @cocktail.reviews.each do |review| %>
        <li class="list-group-item">
          <%= '⭐️' * review.rating %> <%= review.content %> written by <%= review.author %>
          <%= link_to cocktail_review_path(@cocktail, review), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="form-container">
    <h5>Add a new ingredient</h2>
    <%= render 'cocktails/dose-form' %>
  </div>

</div>
