<!DOCTYPE html>
<html>
  <head>
    <title>MisterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to cocktails_path, class: "navbar-brand" do %>
        <%= image_tag "https://image.flaticon.com/icons/svg/135/135754.svg" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "ðŸ¸ New Cocktail", new_cocktail_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="main-container">
        <%= yield %>
      </div>
    </main>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
